# Rabbit MQ configuration
rabbit.host=
rabbit.port=
rabbit.username=
rabbit.password=

# PID configuration
pid.host=
pid.port=
pid.path=

# FTP configuration voor sidecar ingest
ftpDestination.host=
ftpDestination.username=
ftpDestination.password=
ftpDestination.path=

# Elasticsearch
elastic.host=
elastic.port=
elastic.path=

aspect_ratio_api.host=
aspect_ratio_api.port=

db.host=
db.port=
db.username=
db.password=
db.database=
db.buffer=